<html ng-app="anchorage">
  <head>
    <link rel="stylesheet" href="../../cards/css/master.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="../../third-party/angular.min.js"></script>
    <script src="../../lib/game/deck.js"></script>
    <script src="../../lib/game/player.js"></script>
    <script src="../anchorage.js"></script>
  </head>
  <body>
    <div id="board">
      <div id="game" ng-controller="GameController">
        <button ng-hide="started" type="button" class="btn" ng-click="join(); join(); join(); join(); start()">Begin Game</button>
        <div ng-repeat="player in players">
          <div>Player {{player.id}}</div>
          <div>
            <div ng-repeat="(card, ngcard) in player.nghand"><card></card></div>
          </div>
          <br>
          <br>
        </div>
      </div>
    </div>
    
    <script src="../../cards/js/move.js"></script>
  </body>
</html>
